<section id="form-outside">
    <div id="form">
        <h1>User Dashboard</h1>
        <br>
        <br>
        <h2>Welcome {{t.fName}} {{t.lName}}</h2>
        <br>
        <br>
        <br>
        <div id="divButton">
            <a href="/user/logout" id="findButton">Logout</a>
        </div>
        <br>
        <br>
    </div>
</section>
