<section id="form-outside">
    <form id="form" method="POST" action="/user/login">
        <h1>Log in</h1>
        {{#each messages}}
            <div class="error">
                {{this}}
            </div>
        {{/each}}

        <input class="input" type="email" name="email" placeholder="Email">
        <br>
        <input class="input" type="password" name="psw" placeholder="Enter your password">
        <br>
        <div id="divButton">
            <input type="submit" id="findButton" value="Log in">
        </div>
    </form>
</section>
